DATABASE_URL="" # Required - PostgreSQL connection string (Neon works).
RESEND_API_KEY="" # Required - Use to authenticate, send, receive and manage emails.
RESEND_WEBHOOK_SECRET="" # Optional - Webhook secret if you need realtime syncing.
PASSWORD="" # Optional - Password to access app only when you want to deploy.

